*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  background-color: #fff;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  min-height: 100vh;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-item-row {
  display: flex;
  gap: 5px;
  width: 100%;
}

.item-column{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}